# LIST

In [ ]:
######## lIST OPERATIONS ##################

In [3]:
#  REPLACE AT PARTICULAR POSITION
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1] = "Chinmay"
thislist

['apple', 'Chinmay', 'cherry', 'orange', 'kiwi', 'mango']

In [2]:
# INSERT AT PARTICULAR POSITION 
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist.insert(1,"Chinmay")
thislist

['apple', 'Chinmay', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [1]:
# APPEND AT THE END OF LIST 
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [4]:
# EXTEND ONE LIST AT THE END OF OTHER 
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [5]:
# EXTEND TUPLE 
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [5]:
# INSERT TUPLE AT PARTICULAR POSITION 
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.insert(1,thistuple)
print(thislist)

['apple', ('kiwi', 'orange'), 'banana', 'cherry']

In [6]:
# REMOVE ELEMENT FROM LIST 
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [3]:
# REMOVE ITEM AT PARTICULAR POSITON WITH EXPLICITLY MENTIONING 
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [4]:
thislist
thislist.pop()
print(thislist)

['apple']

In [26]:
# DELETE ITEM FROM LIST
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [27]:
# CLEAR ALL LIST
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [30]:
# ITERATE THROUGH LIST ITEM INDEX 
thislist = ["apple", "banana", "cherry"]
for i in range(0,len(thislist)):
    print(i)

0
1
2

In [33]:
t = (1,2,3)
for i in range(len(t)):
    print(i)

0
1
2

In [32]:
# Python - List Comprehension
newlist = [x for x in range(10) if x < 5]
newlist = [x for x in fruits if x != "apple"]

3

In [35]:
newlist = []
for x in range(10):
    if x<5:
        newlist.append(x)
print(newlist)

[0, 1, 2, 3, 4]

In [36]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [6]:
# SORTING LIST
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [7]:
# SORT LIST IN REVERSE ORDER 
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [8]:
# DIRECT ADDING OF TWO LISTS 
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [10]:
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

# TUPLE

Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

In [12]:
# The tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

constructor is thing which converts anything to desire class or desire format

('apple', 'banana', 'cherry')

In [13]:
C = [1,2,3,4]
thistuple = tuple(C) # note the double round-brackets

In [15]:
#Python - Unpack Tuples

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
#If the asterisk is added to another variable name than the
#last, Python will assign values to the variable until the number of values left matches the number of variables left.
(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [16]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

other all operations are same as that of lists

# SETS

In [ ]:
# CONSTRUCTOR 
myset = {"apple", "banana", "cherry"}
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets this is a constructor

In [ ]:
# ADDIING NEW ITEM
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [17]:
# AFTER ADDING , IT WILL PUT IT IN SORTED ORDER
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'cherry', 'papaya', 'banana', 'mango', 'pineapple'}

In [18]:
#ADDING NEW ITEMS 
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'cherry', 'kiwi', 'apple', 'orange'}

In [19]:
# REMOVING ITEMS FROM SET
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [20]:
# ADDING TWO SETS
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

# Python Dictionaries

In [ ]:
# GENERAL STRUCTURE OF DICT 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1] = "Chinmay"
thislist

In [ ]:
An ordered data structure is one in which the data is stored in a specific order. 
This means that the data can be accessed in a specific order, such as alphabetically or numerically.
For example, an array is an ordered data structure.

An unordered data structure is one in which the data is not stored in any particular order. 
This means that the data cannot be accessed in a specific order. 
For example, a hash table is an unordered data structure.

In [ ]:
# The dict() Constructor

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

In [ ]:
# ACCESSING VALUE VIA KEYS
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.keys()
print(x) #before the change
car["color"] = "white"
print(x) #after the change

In [ ]:
x = thisdict.items()

In [ ]:
# UPDATING INTIALLY PRESENT KEY
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [21]:
# ADDING NEW KEY
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"name": "chinmau"})

In [22]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'name': 'chinmau'}

In [23]:
# REMOVING KEY VALUE PAIR
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
for x in thisdict.values():
  print(x)

In [ ]:
for x in thisdict.keys():
  print(x)

In [24]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
year 1964

# LAMBDA OPERATION

In [1]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [2]:
e = lambda r:r*r
print(e(3))

9

In [3]:
def myfunc(n):
  return lambda a : a * n

In [4]:
myfunc(4)

In [5]:
txt = "The price is {:.2f} dollars"
print(txt.format(23.555))

The price is 23.55 dollars