In [ ]:
# This notebook is a basic notebook to start python from basics .
# Using : python 3 
# IDE : Jupyter notebook

In [ ]:
# Variables

In [2]:
#variable name can be start from _

In [3]:
#Pascal Case
MyVariableName = "John"

In [1]:
_ch = 1

In [4]:
#Snake Case
my_variable_name = "John"

In [5]:
x,y,z = 1,2,4

In [8]:
list1 = [1,2,3]
x,y,z = list1

In [10]:
x = y = z = "RIB"

In [14]:
z

'RIB'

In [15]:
x = "RIB"
y = 4
print(x,y)

RIB 4

In [16]:
print(x+y)

TypeError: can only concatenate str (not "int") to str

In [17]:
x = "RIB"
y = "Winjit"
print(x,y)

RIB Winjit

In [18]:
# Text Type:	str
# Numeric Types:	int, float, complex
# Boolean Type:	bool

In [21]:
r = "RAM"
r

'RAM'

In [ ]:
#random is remaining

In [22]:
r = int(r)
r

ValueError: invalid literal for int() with base 10: 'RAM'

In [51]:
#String representation 
a = "Chinmay"
a = 'Chinmay'
a = """my name is Chinmay ! I am 24 years old 
       new year, diwali"""
print(a)

my name is Chinmay ! I am 24 years old
       new year, diwali

In [28]:
#string slicing
a[4]

'a'

In [30]:
a[2:5]

' na'

In [31]:
a[-1]

'i'

In [52]:
print(a[-1:-1])

In [42]:
for i in a:
    print(i)

m
y

n
a
m
e

i
s

C
h
i
n
m
a
y

!

I

a
m

2
4

y
e
a
r
s

o
l
d










n
e
w

y
e
a
r
,

d
i
w
a
l
i

In [43]:
print(len(a))

63

In [44]:
print("my" in a)

True

In [47]:
if "my" in a:
    print("Yes, it is present!")
else:
    print("NOpe")

Yes, it is present!

In [48]:
print("my" not in a)

False

In [53]:
a = a.upper()
print(a)

MY NAME IS CHINMAY ! I AM 24 YEARS OLD
       NEW YEAR, DIWALI

In [54]:
a = a.lower()
print(a)

my name is chinmay ! i am 24 years old
       new year, diwali

In [55]:
a = a.strip()     #removes white spaces from begining and ending 
a

'my name is chinmay ! i am 24 years old \n       new year, diwali'

In [56]:
a = a.replace("e","w")

In [57]:
a

'my namw is chinmay ! i am 24 ywars old \n       nww ywar, diwali'

In [58]:
a = a.split()

In [59]:
a

['my',
 'namw',
 'is',
 'chinmay',
 '!',
 'i',
 'am',
 '24',
 'ywars',
 'old',
 'nww',
 'ywar,',
 'diwali']

In [61]:
na = "My name id \"Chinmay\" and you are welcome"        # to add quote marks

In [62]:
na

'My name id "Chinmay" and you are welcome'

capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning